<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag dom_id(@room), data: { controller: "turbo-frame" } do %>
  <%= render @room %>
  <%= link_to "Edit this room", edit_room_path(@room) %>
<% end %>

<div>
  <%= link_to "Back to rooms", rooms_path %>
  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<div id="messages">
  <%= render @room.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top", data: { controller: "turbo-frame" } %>